.jobApplicationFormMain .jobApplicationFormBox {
  box-shadow: 0 0 15px rgb(0 0 0 / 5%);
  border-radius: 8px;
  margin: 30px 0;
}
  .jobApplicationFormMain .jobApplicationFormBox .formTopRound {
    text-align: center;
    position: relative;
    background: #f1f1f1;
    padding: 25px 30px;
    border-radius:8px 8px 0 0;
    display: flex;
    align-items: center;
  }
 
.jobApplicationFormBox .formTitleArea {
  margin-top: 20px;
  padding-left:30px;
}
.formTopRound h3 {
  color: #00a1f1;
  font-size: 24px;
  margin-right:auto;
  margin-bottom:0;
}
.formTitleArea h5 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #212529 !important;
}
.jobApplicationFormBox .form-group label {
  color: #293241;
}
.jobApplicationFormBox form {
  padding: 0 30px 30px;
}
  .jobApplicationFormBox form .btn-primary {
    background: #00a1f1;
    border-color: #00a1f1;
  }
.formFooterSection {
  text-align: center;
  padding: 10px 0;
  background: #00a1f1;
  border-radius: 0 0 8px 8px;
}
.formFooterSection a {
  color: #fff;
  border: 2px solid #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  line-height: 25px;
  transition:all 0.3s;
}
.formFooterSection a:hover {
  background: #fff;
  color: #00a1f1;
}
::ng-deep .jobApplicationFormBox .dropdown-list .multiselect-item-checkbox input + div:before {
  color: #00a1f1 !important;
  border-color: #00a1f1 !important;
}
::ng-deep .jobApplicationFormBox .dropdown-list .multiselect-item-checkbox input:checked + div:before {
  background: #00a1f1 !important;
}
::ng-deep .jobApplicationFormBox .multiselect-dropdown .dropdown-btn .selected-item {
  max-width: none !important;
  background: #00a1f1 !important;
  border-color: #00a1f1 !important;
}
::ng-deep .jobApplicationFormBox .multiselect-dropdown .dropdown-btn .selected-item:hover {
    box-shadow:none;
}

  ::ng-deep .jobApplicationFormBox .multiselect-dropdown .dropdown-btn .selected-item a {
    margin-left: 5px;
    margin-top: 5px;
    background: #fff;
    color: #00a1f1 !important;
    height: 15px;
    width: 15px;
    line-height: 12px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    padding-left: 0 !important;
  }
.jobApplicationFormBox .fncyChk input[type="checkbox"]{
    opacity:0;
    z-index:1;
}
.jobApplicationFormBox .fncyChk input[type="checkbox"] + span {
  height: 18px;
  width: 18px;
  border: 2px solid #00a1f1;
  position: absolute;
}
.jobApplicationFormBox .fncyChk {
  position: relative;
  z-index: 1;
  margin-left: 0 !important;
  margin-right: 10px;
}
.jobApplicationFormBox .fncyChk input[type="checkbox"]:checked + span {   
    background: #00a1f1;
}
  .jobApplicationFormBox .fncyChk input[type="checkbox"]:checked + span:after {
    content: "";
    transform: rotate( -45deg ) scale(1);
    width: 8px;
    height: 2px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 2px 2px;
    position: absolute;
    padding: 2px 4px;
    margin-top: 2px;
    margin-left: 2px;
  }
::ng-deep .swal2-container .swal2-styled.swal2-confirm {
  background: #00a1f1 !important;
}
::ng-deep .swal2-container h2.swal2-title span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 10px;
}
::ng-deep .swal2-container h2.swal2-title {
  font-size: 22px;
}
::ng-deep .swal2-container .swal2-actions button:focus {
  box-shadow: none;
}
::ng-deep .swal2-container .swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #7CBB02 !important;
}
::ng-deep .swal2-container .swal2-icon.swal2-success .swal2-success-ring {
  border-color: rgba(124, 187, 2, 0.3) !important;
}

@media screen and (max-width:576px) {
  .jobApplicationFormBox .formTopRound {
    flex-direction: column-reverse;
  }

    .jobApplicationFormBox .formTopRound h3 {
      margin-right: initial;
      margin-top: 15px;
    }

  .jobApplicationFormBox select {
    margin-bottom: 15px;
  }

  .jobApplicationFormBox .fncyChk {
    margin-top: 20px;
  }

    .jobApplicationFormBox .fncyChk + label {
      padding-left: 30px;
    }

    .jobApplicationFormBox .fncyChk input[type=checkbox] + span {
      left: 0;
      top: 5px;
    }
}
