<div class="jobApplicationFormMain">
  <!-- main app container -->
  <div class="container">
    <div class="jobApplicationFormBox">
      <div class="formTopRound">
<h3 class="">Apply for Job</h3>
        <img src="../../assets/logo.png" alt="logo" />
      </div>
      <div class="row">
        <div class="formTitleArea w-100">
          <div class="col-md-12">
            <h5 class="">*Personal Information</h5>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-4">
                  <div class="form-group">
                    <label>First Name <span style="color:red"> *</span></label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && validateAngForm.firstName.errors }" />
                    <div *ngIf="submitted && validateAngForm.firstName.errors" class="invalid-feedback">
                      <div *ngIf="validateAngForm.firstName.errors.required">First name is required!</div>
                      <div *ngIf="validateAngForm.firstName.errors.pattern">Please enter alphabetic characters only</div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label>Middle Name <span style="color:red"> *</span></label>
                    <input type="text" formControlName="middleName" class="form-control" [ngClass]="{ 'is-invalid': submitted && validateAngForm.middleName.errors }" />
                    <div *ngIf="submitted && validateAngForm.middleName.errors" class="invalid-feedback">
                      <div *ngIf="validateAngForm.middleName.errors.required">Middle name is required!</div>
                      <div *ngIf="validateAngForm.middleName.errors.pattern">Please enter alphabetic characters only</div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label>Last Name <span style="color:red"> *</span></label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && validateAngForm.lastName.errors }" />
                    <div *ngIf="submitted && validateAngForm.lastName.errors" class="invalid-feedback">
                      <div *ngIf="validateAngForm.lastName.errors.required">Last name is required!</div>
                      <div *ngIf="validateAngForm.lastName.errors.pattern">Please enter alphabetic characters only</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Phone Number <span style="color:red"> *</span></label>
                    <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && validateAngForm.phoneNumber.errors }" onlyNumber />
                    <div *ngIf="submitted && validateAngForm.phoneNumber.errors" class="invalid-feedback">
                      <div *ngIf="validateAngForm.phoneNumber.errors.required">Phone number is required!</div>
                      <div *ngIf="validateAngForm.phoneNumber.errors.minlength">Phone number must be at least 10 digits</div>
                      <div *ngIf="validateAngForm.phoneNumber.errors.maxlength">Phone number must be no more than 10 digits</div>
                      <div *ngIf="validateAngForm.phoneNumber.errors.pattern">Please enter numeric value only</div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Email <span style="color:red"> *</span></label>
                    <input type="text" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && validateAngForm.emailId.errors }" />
                    <div *ngIf="submitted && validateAngForm.emailId.errors" class="invalid-feedback">
                      <div *ngIf="validateAngForm.emailId.errors.required">Email address is required!</div>
                      <div *ngIf="validateAngForm.emailId.errors.email">Email must be valid email address</div>
                      <!--<div *ngIf="validateAngForm.emailId.errors.pattern">Enter valid email address </div>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4">
                  <div class="form-group">
                    <label>Applied For <span style="color:red"> *</span></label>
                    <select formControlName="position" class="form-select form-control" aria-label="Default select example" [ngClass]="{ 'is-invalid': submitted && validateAngForm.position.errors }">
                      <option value="" selected>-Select one-</option>
                      <option value="reactJsDeveloper">React JS Developer</option>
                      <option value="mvcDotNetDeveloper">MVC/.Net Developer</option>
                      <option value="sharepointDeveloper">SharePoint / Office 365 Developer</option>
                      <option value="mobileApplicationDeveloper">Mobile Application Developer</option>
                      <option value="magentoDeveloper">Magento Developer</option>
                      <option value="wordpressDeveloper">WordPress Developer</option>
                      <option value="xamarinDeveloper">Xamarin Developer</option>
                      <option value="angularDeveloper">Angular Developer</option>
                    </select>
                    <div *ngIf="submitted && validateAngForm.position.errors" class="invalid-feedback">
                      <div *ngIf="validateAngForm.position.errors.required">Position is required!</div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-5">
                  <div class="form-group">
                    <label>Experience <span style="color:red"> *</span></label>
                    <div class="row">
                      <div class="col-xl-6">
                        <select formControlName="experienceYear" class="form-select form-control" aria-label="Default select example" [ngClass]="{ 'is-invalid': submitted && validateAngForm.experienceYear.errors }">
                          <option value="" selected>Year</option>
                          <option value="0">0 Year</option>
                          <option value="1">1 Year</option>
                          <option value="2">2 Years</option>
                          <option value="3">3 Years</option>
                          <option value="4">4 Years</option>
                          <option value="5">5 Years</option>
                          <option value="6">6 Years</option>
                          <option value="7">7 Years</option>
                          <option value="8">8 Years</option>
                          <option value="9">9 Years</option>
                          <option value="10">10 Years</option>
                          <option value="11">11 Years</option>
                          <option value="12">12 Years</option>
                          <option value="13">13 Years</option>
                          <option value="14">14 Years</option>
                          <option value="15">15 Years</option>
                        </select>
                        <div *ngIf="submitted && validateAngForm.experienceYear.errors" class="invalid-feedback">
                          <div *ngIf="validateAngForm.experienceYear.errors.required">Year is required!</div>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <select formControlName="experienceMonth" class="form-select form-control" aria-label="Default select example" [ngClass]="{ 'is-invalid': submitted && validateAngForm.experienceMonth.errors }">
                          <option value="" selected>Month</option>
                          <option value="0">0 Month</option>
                          <option value="1">1 Month</option>
                          <option value="2">2 Months</option>
                          <option value="3">3 Months</option>
                          <option value="4">4 Months</option>
                          <option value="5">5 Months</option>
                          <option value="6">6 Months</option>
                          <option value="7">7 Months</option>
                          <option value="8">8 Months</option>
                          <option value="9">9 Months</option>
                          <option value="10">10 Months</option>
                          <option value="11">11 Months</option>
                          <option value="12">12 Months</option>
                        </select>
                        <div *ngIf="submitted && validateAngForm.experienceMonth.errors" class="invalid-feedback">
                          <div *ngIf="validateAngForm.experienceMonth.errors.required">Month is required!</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3">
                  <div class="form-group">
                    <label>Notice Period <span style="color:red"> *</span></label>
                    <div class="input-group mb-4">
                      <input type="text" formControlName="noticePeriod" class="form-control" aria-describedby="basic-addon2" [ngClass]="{ 'is-invalid': submitted && validateAngForm.noticePeriod.errors }" onlyNumber />
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Days</span>
                      </div>
                      <div *ngIf="submitted && validateAngForm.noticePeriod.errors" class="invalid-feedback">
                        <div *ngIf="validateAngForm.noticePeriod.errors.required">Notice period is required!</div>
                        <div *ngIf="validateAngForm.noticePeriod.errors.pattern">Please enter numeric value only</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Current CTC  Monthly <span style="color:red"> *</span></label>
                    <input type="text" formControlName="currentCtcMonthly" class="form-control" [ngClass]="{ 'is-invalid': submitted && validateAngForm.currentCtcMonthly.errors }" ngxCurrencyInput />
                    <div *ngIf="submitted && validateAngForm.currentCtcMonthly.errors" class="invalid-feedback">
                      <div *ngIf="validateAngForm.currentCtcMonthly.errors.required">Current CTC is required!</div>
                      <div *ngIf="validateAngForm.currentCtcMonthly.errors.pattern">Please enter numeric value only</div>
                    </div>
                    </div>
                  </div>
                <div class="col-xl-6">
                  <div class="form-group">
                    <label>Expected CTC Monthly <span style="color:red"> *</span></label>
                    <input type="text" formControlName="expextedCtcMonthly" class="form-control" [ngClass]="{ 'is-invalid': submitted && validateAngForm.expextedCtcMonthly.errors }" ngxCurrencyInput />
                    <div *ngIf="submitted && validateAngForm.expextedCtcMonthly.errors" class="invalid-feedback">
                      <div *ngIf="validateAngForm.expextedCtcMonthly.errors.required">Expected CTC is required!</div>
                      <div *ngIf="validateAngForm.expextedCtcMonthly.errors.pattern">Please enter numeric value only</div>
                    </div>
                  </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-xl-12">
                  <label>Reason for Job Change <span style="color:red"> *</span></label>
                  <ng-multiselect-dropdown placeholder="-Select-"
                                           [settings]="dropdownSettings"
                                           [data]="dropdownList"
                                           [(ngModel)]="selectedItems"
                                           (onSelect)="onItemSelect($event)"
                                           (onSelectAll)="onSelectAll($event)"
                                           formControlName="reasonForJobChange"
                                           (onDeSelect)="onItemDeSelect($event)"
                                           (onDeSelectAll)="onItemDeSelectAll($event)"
                                           [ngClass]="{ 'is-invalid': submitted && validateAngForm.reasonForJobChange.errors }">
                  </ng-multiselect-dropdown>
                  <div *ngIf="submitted && validateAngForm.reasonForJobChange.errors" class="invalid-feedback">
                    <div *ngIf="validateAngForm.reasonForJobChange.errors.required">Reason for job change is required!</div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="isShown">
                <div class="col-xl-12">
                  <br />
                  <textarea type="text" formControlName="otherIssues" rows="2" class="form-control"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 form-inline">
                  <div class="form-check ml-2 fncyChk">
                    <input class="form-check-input" type="checkbox" formControlName="relocation" />
                    <span></span>
                  </div>
                  <label>Ready to relocate in ahmedabad ? </label>

                </div>
                <div class="col-xl-6">
                  <label></label><br />
                  <span style="color:red">* </span><input type="file" id="file" formControlName="resumeFile" [ngClass]="{ 'is-invalid': submitted && validateAngForm.resumeFile.errors }" accept="application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document" (change)="selectFile($event)" />
                  <div *ngIf="submitted && validateAngForm.resumeFile.errors" class="invalid-feedback">
                    <div *ngIf="validateAngForm.resumeFile.errors.required">Resume is required!</div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-xl-12">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
            <div class="formFooterSection">
              <a href="https://www.facebook.com/codevisiontechnologies/" title="Facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/company/codevision-technologies/" title="Facebook">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/COD3VISION/" title="Facebook">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/cod3vision/" title="Facebook">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://in.pinterest.com/codevisiontechnologies/" title="Facebook">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
